<div id="challenge-{{challenge_number}}" class="challenge mb-3" data-challengeNumber="{{challenge_number}}" data-problemName="{{problem_name}}">
    <div class="card mb-3">
        <div class="card-body">

            <h5>Input {{challenge_number}}</h5>
            <article class="markdown-body">
                {{challenge_input|safe }}
            </article>

            <form onsubmit="handleSubmit(event)">
                <div class="mb-3">
                    <h5>Answer {{challenge_number}}</h5>
                    <input type="text" class="answer form-control" id="answer" aria-describedby="answer">
                </div>
                <button type="submit" id="answer-{{challenge_number}}" class="btn btn-primary challengeSubmitButton">Submit</a>
            </form>
        </div>

    </div>
</div>